@page
@model Cashier.Pages.OrdersModel

<style>
    table.order-table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    table.order-table th,
    table.order-table td {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
        word-wrap: break-word;
        overflow: hidden;
        white-space: normal;
    }

    table.order-table tr {
        height: 40px; /* 固定两行高度 */
        line-height: 20px; /* 一行文字高度 */
    }

    table.order-table thead {
        background-color: #f5f5f5;
        font-weight: bold;
    }
</style>

<h2>订单查询</h2>

<form method="get">
    <label>
        开始时间:
        <input type="date" name="StartDate" value="@Model.StartDate?.ToString("yyyy-MM-dd")" />
    </label>
    <label>
        结束时间:
        <input type="date" name="EndDate" value="@Model.EndDate?.ToString("yyyy-MM-dd")" />
    </label>
    <button type="submit">筛选</button>
</form>

<table class="order-table" border="1" cellpadding="5">
    <thead>
        <tr>
            <th style="width:15.6%">订单号</th>
            <th style="width:5.8%">来源</th>
            <th style="width:0.4%">金额</th>
            <th style="width:2%">支付方式</th>
            <th style="width:31.2%">通知地址</th>
            <th style="width:7.8%">客户端IP</th>
            <th style="width:5.8%">创建时间</th>
            <th style="width:3.9%">状态</th>
            <th style="width:23.4%">错误信息</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model.Orders)
        {
            <tr>
                <td>@o.MerchantOrderId</td>
                <td>@o.User</td>
                <td>@o.Amount</td>
                <td>@o.PaymentMethod</td>
                <td>@o.NotifyUrl</td>
                <td>@o.ClientIp</td>
                <td>@o.CreatedAt</td>
                <td>@o.Status</td>
                <td>@o.Message</td>
            </tr>
        }
    </tbody>
</table>
